.dashboard__container {
  display: flex;
  justify-content: space-around;
}

.dasboard__title {
  margin-top: 100px;
  font-size: 5vw;
  color: rgb(0, 208, 176);
}

.dashboard__button > button {
  padding: 5px;
  font-size: medium;
  margin-top: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
